body{
background-color: black;
min-height: 100%;
}

.spaceship{
position: relative;
margin: 25% auto 0;
transform: translate(-50%, -50%);
width: 0;
height: 0;
border-left: 11px solid transparent;
border-right: 11px solid transparent;
border-bottom: 40px solid white;
}
